.clampdown-codes-donwload-form {
  text-align: center;
  padding: 3em;
  background: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;

  form {

    > * {
      vertical-align: top;
    }

    button[type=submit] {
      height: 54.89px;
      line-height: normal;
      font-weight: bold;

      &.__ajax-handling {
        pointer-events: none;
        opacity: .4;
      }
    }
  }

  &__result {
    margin-top: 2em;

    .__thumb {
      width: 300px;
      max-width: 100%;
      margin: 1em auto;
    }

    .button {
      width: 300px;
      max-width: 100%;
    }
  }
}

.clampdown-codes-alert {

  &__success {
    color: #327212;
  }

  &__error {
    color: #db3032;
  }
}